<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.GangweixinxiMapper">
  <resultMap id="BaseResultMap" type="com.entity.Gangweixinxi">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="bumenzhanghao" jdbcType="VARCHAR" property="bumenzhanghao" />    <result column="bumenmingcheng" jdbcType="VARCHAR" property="bumenmingcheng" />    <result column="lianxidianhua" jdbcType="VARCHAR" property="lianxidianhua" />    <result column="dizhi" jdbcType="VARCHAR" property="dizhi" />    <result column="gangwei" jdbcType="VARCHAR" property="gangwei" />    <result column="xiangxi" jdbcType="VARCHAR" property="xiangxi" />    <result column="xueyuanshenhe" jdbcType="VARCHAR" property="xueyuanshenhe" />    <result column="issh" jdbcType="VARCHAR" property="issh" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bumenzhanghao,bumenmingcheng,lianxidianhua,dizhi,gangwei,xiangxi,xueyuanshenhe,issh, addtime
  </sql>
  <select id="quchongGangweixinxi"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from gangweixinxi 
    where bumenzhanghao = #{bumenzhanghao,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from gangweixinxi  where 1=1
    <if test="bumenzhanghao!=null">and bumenzhanghao like  concat('%',#{bumenzhanghao,jdbcType=VARCHAR},'%')</if>     <if test="bumenmingcheng!=null">and bumenmingcheng like  concat('%',#{bumenmingcheng,jdbcType=VARCHAR},'%')</if>     <if test="lianxidianhua!=null">and lianxidianhua like  concat('%',#{lianxidianhua,jdbcType=VARCHAR},'%')</if>     <if test="dizhi!=null">and dizhi like  concat('%',#{dizhi,jdbcType=VARCHAR},'%')</if>     <if test="gangwei!=null">and gangwei like  concat('%',#{gangwei,jdbcType=VARCHAR},'%')</if>     <if test="xiangxi!=null">and xiangxi like  concat('%',#{xiangxi,jdbcType=VARCHAR},'%')</if>     <if test="xueyuanshenhe!=null">and xueyuanshenhe like  concat('%',#{xueyuanshenhe,jdbcType=VARCHAR},'%')</if>     <if test="issh!=null">and issh like  concat('%',#{issh,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from gangweixinxi  where 1=1
    <if test="bumenzhanghao!=null">
    and bumenzhanghao =#{bumenzhanghao}
    </if>
  </select>
  
  <select id="getsygangweixinxi1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from gangweixinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsygangweixinxi2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from gangweixinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsygangweixinxi3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from gangweixinxi  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from gangweixinxi where 1=1 
     <if test="bumenzhanghao!=null">and bumenzhanghao like  concat('%',#{bumenzhanghao,jdbcType=VARCHAR},'%')</if>     <if test="bumenmingcheng!=null">and bumenmingcheng like  concat('%',#{bumenmingcheng,jdbcType=VARCHAR},'%')</if>     <if test="lianxidianhua!=null">and lianxidianhua like  concat('%',#{lianxidianhua,jdbcType=VARCHAR},'%')</if>     <if test="dizhi!=null">and dizhi like  concat('%',#{dizhi,jdbcType=VARCHAR},'%')</if>     <if test="gangwei!=null">and gangwei like  concat('%',#{gangwei,jdbcType=VARCHAR},'%')</if>     <if test="xiangxi!=null">and xiangxi like  concat('%',#{xiangxi,jdbcType=VARCHAR},'%')</if>     <if test="xueyuanshenhe!=null">and xueyuanshenhe like  concat('%',#{xueyuanshenhe,jdbcType=VARCHAR},'%')</if>     <if test="issh!=null">and issh like  concat('%',#{issh,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gangweixinxi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gangweixinxi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Gangweixinxi">
    insert into gangweixinxi (id, bumenzhanghao,bumenmingcheng,lianxidianhua,dizhi,gangwei,xiangxi,xueyuanshenhe, addtime)
    values (#{id,jdbcType=INTEGER}, #{bumenzhanghao,jdbcType=VARCHAR},#{bumenmingcheng,jdbcType=VARCHAR},#{lianxidianhua,jdbcType=VARCHAR},#{dizhi,jdbcType=VARCHAR},#{gangwei,jdbcType=VARCHAR},#{xiangxi,jdbcType=VARCHAR},#{xueyuanshenhe,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Gangweixinxi">
    insert into gangweixinxi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bumenzhanghao != null"> bumenzhanghao, </if>      <if test="bumenmingcheng != null"> bumenmingcheng, </if>      <if test="lianxidianhua != null"> lianxidianhua, </if>      <if test="dizhi != null"> dizhi, </if>      <if test="gangwei != null"> gangwei, </if>      <if test="xiangxi != null"> xiangxi, </if>      <if test="xueyuanshenhe != null"> xueyuanshenhe, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bumenzhanghao != null"> #{bumenzhanghao,jdbcType=VARCHAR},</if>      <if test="bumenmingcheng != null"> #{bumenmingcheng,jdbcType=VARCHAR},</if>      <if test="lianxidianhua != null"> #{lianxidianhua,jdbcType=VARCHAR},</if>      <if test="dizhi != null"> #{dizhi,jdbcType=VARCHAR},</if>      <if test="gangwei != null"> #{gangwei,jdbcType=VARCHAR},</if>      <if test="xiangxi != null"> #{xiangxi,jdbcType=VARCHAR},</if>      <if test="xueyuanshenhe != null"> #{xueyuanshenhe,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Gangweixinxi">
    update gangweixinxi
    <set>
	  <if test="bumenzhanghao != null"> bumenzhanghao = #{bumenzhanghao,jdbcType=VARCHAR},</if>      <if test="bumenmingcheng != null"> bumenmingcheng = #{bumenmingcheng,jdbcType=VARCHAR},</if>      <if test="lianxidianhua != null"> lianxidianhua = #{lianxidianhua,jdbcType=VARCHAR},</if>      <if test="dizhi != null"> dizhi = #{dizhi,jdbcType=VARCHAR},</if>      <if test="gangwei != null"> gangwei = #{gangwei,jdbcType=VARCHAR},</if>      <if test="xiangxi != null"> xiangxi = #{xiangxi,jdbcType=VARCHAR},</if>      <if test="xueyuanshenhe != null"> xueyuanshenhe = #{xueyuanshenhe,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKeySelectivelb" parameterType="com.entity.Gangweixinxi">
    update gangweixinxi
    <set>
      <if test="xueyuanshenhe != null"> xueyuanshenhe = #{xueyuanshenhe,jdbcType=VARCHAR},</if>      
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Gangweixinxi">
    update gangweixinxi
    set bumenzhanghao = #{bumenzhanghao,jdbcType=VARCHAR},bumenmingcheng = #{bumenmingcheng,jdbcType=VARCHAR},lianxidianhua = #{lianxidianhua,jdbcType=VARCHAR},dizhi = #{dizhi,jdbcType=VARCHAR},gangwei = #{gangwei,jdbcType=VARCHAR},xiangxi = #{xiangxi,jdbcType=VARCHAR},xueyuanshenhe = #{xueyuanshenhe,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
